/* Custom file input button */
.file-input::-webkit-file-upload-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .file-input {
    position: relative;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    color: rgb(53, 112, 73)
  }
  
  .file-input::before {
    content: 'Drop or Browse file';
    display: block;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px dashed #bdbdbd;
    border-radius: 5px;
    text-align: center;
    color: #757575;
    font-size: 14px;
  }
  
  .file-input:hover::before {
    background-color: #e0e0e0;
  }
  